<h1>Student</h1>
  <tr>
    <td><a href="http://<%=request.host%>:<%=request.port%>/students/<%= @re_st.id %>/validate?reNum=<%= @re_st.registerdSince.to_i %>">
    http://<%=request.host%>:<%=request.port%>/students/<%= @re_st.id %>/validate?reNum=<%= @re_st.registerdSince.to_i %></a></td>
  </tr>
