
<%= @re_st.methods %>

<%= form_for(@re_st) do |f| %>
  <% if @re_st.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@re_st.errors.count, "error") %> prohibited this registerd_user from being saved:</h2>

      <ul>
      <% @re_st.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.number_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
